html{
    margin:0px;
    font-family: 'Nunito', sans-serif;
}

img{
    max-width: 100%;
}

table{
    width: 100%;
    border-spacing: 0;
}

.table td, .table th{
    padding:1em;
    text-align:left;
}



.table tr:nth-child(even){
    background-color: #C9F5F5 ;
}

a{
    text-decoration: none;
    color: #7EA2A1 ;
}

.container{
    background: #3D7EAA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}


.content{
    max-width: 960px;
    width: 100%;
    height: 80vh;
    background-color: #fff;
    padding:1em;
    border-radius:10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow-y: scroll;
    position: no-scroll;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.fa-star{
    color:#ffc400;
}


.title{
    margin:0.5em 0;
    text-transform: uppercase;
    text-align:center;
}
.title-item{
    /*border-bottom-style:solid ;
    border-width:2px ;
    border-color: #F8EAAC ;*/  
    border-bottom: solid 2px #F8EAAC;
    padding-bottom: 1em;
}
.text-center{text-align: center;}
.position{
    background-color: #F8EAAC;
    color: white;
    padding:0.5em;
    border-radius:4px;
    margin-right: 0.5em;
}

.paragrahp{
    line-height: 1.8em;
    font-weight: 300;
}

.main-image{
    float: left;
    margin-right: 1em;
    height: 260px;
    border-radius:6px;
}

.text{float:none;}

.actions{
    position:absolute;
    top:1em;
    right:1em;

}

.close{
    height:40px;
    width: 40px;
    color: white;
    border-radius:50%;
    background-color: #7DA4BA   ;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
    font-weight: 300;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content:center;
}

.address{
    font-weight: bold;
    color:  #7DA4BA ;
    font-size:1.2em;
}

tr :hover a{
    color: black;
}


@media (max-width: 600px){
    th{display: none;}
    td{
      width: 100%;
      display: block;
    }
    td:nth-of-type(1){
      font-size: 1.5em;
      font-weight: bold;
      color:#642B73;
    }
  }
  
  @media (min-width: 960px){
    .content{
      padding:1.8em;
      font-size: 1rem;
    }
    .title{
      margin: 1em 0;
    }
  
  }
  
  @media (min-height: 550px){
    .content{
      height: 500px;
    }
  }
